Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.deps.json
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.exe
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.pdb
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.runtimeconfig.dev.json
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.runtimeconfig.json
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.csproj.CoreCompileInputs.cache
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.csproj.FileListAbsolute.txt
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.csprojAssemblyReference.cache
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.dll
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.exe
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.genruntimeconfig.cache
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.MvcApplicationPartsAssemblyInfo.cache
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.pdb
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.RazorTargetAssemblyInfo.cache
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/staticwebassets/`MakeMyLifeBlissWebApi.StaticWebAssets.Manifest.cache
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/staticwebassets/`MakeMyLifeBlissWebApi.StaticWebAssets.xml
Middleware/`MakeMyLifeBlissWebApi/.vs/`MakeMyLifeBlissWebApi/v16/.suo
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/appsettings.Development.json
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/appsettings.json
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/System.Text.Json.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.Design.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.Design.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
Middleware/`MakeMyLifeBlissWebApi/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
Middleware/`MakeMyLifeBlissWebApi/obj/`MakeMyLifeBlissWebApi.csproj.nuget.dgspec.json
Middleware/`MakeMyLifeBlissWebApi/obj/`MakeMyLifeBlissWebApi.csproj.nuget.g.props
Middleware/`MakeMyLifeBlissWebApi/obj/project.assets.json
Middleware/`MakeMyLifeBlissWebApi/obj/project.nuget.cache
Middleware/`MakeMyLifeBlissWebApi/obj/project.nuget.cache
Middleware/`MakeMyLifeBlissWebApi/obj/project.assets.json
Middleware/`MakeMyLifeBlissWebApi/obj/`MakeMyLifeBlissWebApi.csproj.nuget.g.props
Middleware/`MakeMyLifeBlissWebApi/obj/`MakeMyLifeBlissWebApi.csproj.nuget.dgspec.json
Middleware/`MakeMyLifeBlissWebApi/.vs/`MakeMyLifeBlissWebApi/v16/.suo
Middleware/`MakeMyLifeBlissWebApi/.vs/`MakeMyLifeBlissWebApi/v16/.suo
Middleware/`MakeMyLifeBlissWebApi/obj/`MakeMyLifeBlissWebApi.csproj.nuget.dgspec.json
Middleware/`MakeMyLifeBlissWebApi/obj/`MakeMyLifeBlissWebApi.csproj.nuget.dgspec.json
Middleware/`MakeMyLifeBlissWebApi/obj/`MakeMyLifeBlissWebApi.csproj.nuget.g.props
Middleware/`MakeMyLifeBlissWebApi/obj/project.assets.json
Middleware/`MakeMyLifeBlissWebApi/obj/project.nuget.cache
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.assets.cache
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.csproj.CopyComplete
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.csprojAssemblyReference.cache
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.csprojAssemblyReference.cache
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.assets.cache
Middleware/`MakeMyLifeBlissWebApi/.vs/`MakeMyLifeBlissWebApi/v16/.suo
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.assets.cache
Middleware/`MakeMyLifeBlissWebApi/obj/Debug/netcoreapp3.1/`MakeMyLifeBlissWebApi.csprojAssemblyReference.cache
