.page-container {
  background: #ebebeb 0% 0% no-repeat padding-box;
  opacity: 1;
}

//@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css");
// body {
//   margin: 20px;
// }
.jumbotron {
  background-color: #563d7c;
  color: #fff;
}

// .container.drop-shadow {
//   padding-left: 0;
//   padding-right: 0;
// }
.navbar {
  margin-left: -15px;
  margin-right: -15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 0;
}
