/* You can add global styles to this file, and also import other style files */
.drop-shadow {
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.main-container {
  //   border: double;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  // height: 80vh;
  // width: 100vw;
  height: auto;
  width: auto;
  background: white;
  // margin-left: 20px;
  // margin-right: 20px;
  //border: dotted;
  // justify-self: center;
  justify-content: center;
  // justify-items: center;
  // align-items: center;
  align-content: center;
}

.middle-continer {
  grid-column: 1/2;
  //align-self: center;
  // margin-left: 50px;
  // justify-self: end;
  // align-self: end;
}

.left-end-container {
  grid-column: 2;
  //align-self: center;

  justify-self: end;
  //align-self: end;
  //margin-right: 112px;
}
