<div>
  Congratulations to you for joining our daily subscription! You are an Aries
  ascendant born in Gemini rashi. There are nearly 650 million people born like
  you in Gemini rashi in this world. All other astrology sites that give
  predictions for 12 rashi are general. It is more like our roads that are
  common to all of us. Our daily predictions are like your home which belongs
  exclusively to you. Our intention is to provide this service free to all of
  you. As a start-up, we need a small contribution from you so that we can run
  the services without any disruption. With your continual support, we should be
  able to provide this subscription cheaper further or literally free over time.
  Thank you once again for your valuable support!
</div>
